*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1{
  font-weight: 900;
  font-size: 34px;
  color: #00ADB5;
}

#bg{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #1FA2FF, #12D8FA, #A6FFCB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #1FA2FF, #12D8FA, #A6FFCB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  border-radius: 20px;
  padding: 30px;
  height: 70vh;
  width: 50vw;

  display:grid;
  grid-template-rows: 15% auto;
}

#title-container *{
  color: white;
}

#title-container h3{
  color: white;
  font-size: 1em;
  font-weight: 700;
}

#master-content-container{
  display: grid;

  grid-template-columns: 50% auto;
  grid-template-rows: 33% 33% auto;
  grid-gap: 10px;
}

.contentContainer{
  padding: 40px;
  border-radius: 20px;
  background-color:white;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.20);

  transition-duration: 1s;
}

.contentContainer h3:nth-child(1){
  color: black;
  font-weight: 400;
  font-size: 1em;
}
#domain-container{
  grid-area: 1/1/4/2;
}

#tolerance, #sliderLabel{
  display: inline;
}

#sliderLabel{
  margin-right: 4px;
  font-weight: 400;
}
#domainList{
  font-size: 0.7em;
  margin-top: 10px;
}

#domains{
  width: 70%;
  height: 25px;
  border: solid 1px black;
  border-radius: 30px;
  margin-top: 10px;
  padding-left: 10px;
}

.link{
  font-size: 0.5em;
  font-weight: 700;
  color: #18c1fd;
  text-decoration:underline;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

button{
  height: 25px;
  border-radius: 30px;

  padding: 5px 20px 5px 20px;
  background-color: #18c1fd;
  color: white;
  border: none;
  cursor: pointer;

  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.5em;
}

button:hover{
  background-color: #6fd4f7;
  cursor: pointer;
}

#submit-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {outline:0;}
input:focus {outline:0;}

.blurin{
  filter: blur(2px);
}

.enlarge{
  transform: scale(1.02);
}
